{% extends "base.html" %}

{% block title %}Удаление проекта{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'webapp:project_view' project.pk %}">просмотр проекта</a>
</li>
{% endblock %}

{% block content %}
    <h4>Вы уверены что хотите удалить "{{ project.name }}"?</h4>
    <form method="POST" action="{% url 'webapp:project_delete' project.pk %}" class="text-center">
        {% csrf_token %}
        <p><input type="submit" value="Потверждение"></p>
        <p><a href="{% url 'webapp:project_view' project.pk %}">Отмена</a></p>
    </form>
{% endblock %}