{% extends "base.html" %}

{% block title %}Просмотр проекта{% endblock %}
{% block nav %}
    {% if request.user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:create_project' %}">Новый проект</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:project_delete' projecttask.pk %}">Удалить</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:project_userupdate' projecttask.pk %}">редактирование пользователя</a>
    </li>
    {% endif %}
{% endblock %}





{% block content %}

    <div class="card text-center">
        <h5 class="card-header"> Название: <a
                href="#">{{ projecttask.name }}</a>
        </h5>
        <div class="card-body">
            <h5 class="card-title">Дата начала:{{ projecttask.start_date }} </h5>
            <p class="card-text">Дата окончания: {{ projecttask.end_date|default:"-" }} </p>
            <p class="card-text" style="white-space: pre-wrap">Описание: {{ projecttask.description }}</p>
            {% if request.user.is_authenticated %}
            <p>Пользователи: {% for user in projecttask.user.all %}
                {{user.username}} {% if not forloop.last %},{% endif%}
                {% endfor %}</p>
            <a href="{% url 'webapp:project_update' projecttask.pk %}" class="btn btn-primary">Обновление</a>
            {% endif %}
        </div>
    </div>




<h3>Tasks: </h3>

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="row">
        {% for task in tasks %}
            <div class="col col-lg-4 my-2">
                <div class="card">
                    <div class="card-header">
                        Название: {{ task.summary }}
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Статус: {{ task.status.title }}</h6>
                        <h6 class="card-title">Тип: {% for type in task.type_task.all %}
                            {{ type }}{% if not forloop.last %},{% endif %}{% endfor %}</h6>
                        <p class="card-text" style="white-space: pre-wrap">{{ task.description }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'webapp:task_update' task.pk %}" class="btn btn-primary">Update</a>
                        <a href="{% url 'webapp:task_delete' task.pk %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}