{% extends "base.html" %}

    {% block nav %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create_task' %}">Новая задача</a>
        </li>
    {% endblock %}


    {% block content %}
    <h1>To Do List</h1>
    <div class="row">
        {% for task in tasks %}
            <div class="col-auto">
                <div class="card col">
                    <h5 class="card-header">Название: <a href="{% url 'task_view' task.pk %}">{{ task.title }}</a></h5>
                    <div class="card-body">
                        <h5 class="card-title">Статус: {{ task.get_status_display }}</h5>
                        <p class="card-text">Дата выполнения: {{ task.deadline|date:"d.m.y"}}</p>

                        <!-- <form action="{% url 'index' %}?id={{ task.id }}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="delete" class="btn btn-primary">
                        </form> -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>    
    {% endblock %}
