{% extends "base.html" %}

{% block title %}Просмотр товара{% endblock %}

    {% block nav %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create_task' %}">Новая задача</a>
        </li>
        <li class="nav-item">
            {% comment %} <a class="nav-link" href="{% url 'task_update' task.pk %}">Редактировать задачу</a> {% endcomment %}
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'task_delete' task.pk %}">Удалить</a>
        </li>
    {% endblock %}

    {% block content %}
        <div class="card text-center">
            <div class="card-header">
                Название: {{ task.summary }}
            </div>
            <div class="card-body">
                <p class="card-text" style="white-space: pre-wrap">Подродное описание: {{ task.description }}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">
                <p>Статус: {{ task.status.title }}</p>
                <p>Тип: {{ task.type_task.title }}</p>
            </div>
        </div>
    {% endblock %}
