{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

    {% block nav %}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'webapp:create_task' %}">Новая задача</a>
        </li>
    </ul>
    {% include "partial/simple_search.html" %}
    {% endblock %}


    {% block content %}
    <h1>To Do List</h1>
    <div class="row">
        {% for task in tasks %}
            <div class="col-auto">
                <div class="card col">
                    <h5 class="card-header">Название: <a href="{% url 'webapp:task_view' task.pk %}">{{ task.summary }}</a></h5>
                    <div class="card-body">
                        <h5 class="card-title">Статус: {{ task.status.title }}</h5>
                        <p>Тип: {% for type in task.type_task.all %}
                            {{type.title}} {% if not forloop.last %},{% endif%}
                            {% endfor %}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>  
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    
    {% endblock %}
