{% extends "base.html" %}

{% block title %}Просмотр задачи{% endblock %}

{% block nav %}
    {% if request.user.is_authenticated %}
    <li class="nav-item">
        {% if perms.webapp.add_task or projecttask.user == request.user %}
        <a class="nav-link" href="{% url 'webapp:create_task' %}">Новая задача</a>
        {% endif %}
    </li>

    <li class="nav-item">
        {% if perms.webapp.delete_task or projecttask.user == request.user %}
        <a class="nav-link" href="{% url 'webapp:task_delete' task.pk %}">Удалить</a>
        {% endif %}
    </li>
    {% endif %}
{% endblock %}

    {% block content %}
        <div class="card text-center">
            <div class="card-header">
                Название: {{ task.summary }}
            </div>
            <div class="card-body">
                <p class="card-text" style="white-space: pre-wrap">Подродное описание: {{ task.description }}</p>
                {% if request.user.is_authenticated and perms.webapp.delete_task or projecttask.user == request.user %}
                <a href="{% url 'webapp:task_update' task.pk %}" class="btn btn-primary">Обновление</a>
                {% endif %}
            </div>
            <div class="card-footer text-muted">
                <p>Статус: {{ task.status.title }}</p>

                <p>Тип: {% for type in task.type_task.all %}
                    {{type.title}} {% if not forloop.last %},{% endif%}
                {% endfor %}</p>
            </div>
        </div>
    {% endblock %}
