{% extends "base.html" %}

{% block title %}Удаление задачи{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'webapp:task_view' task.pk %}">Просмотр задачи</a>
</li>
{% endblock %}

{% block content %}
    <h4>Вы уверены что хотите удалить "{{ task.summary }}"?</h4>
    <form method="POST" action="{% url "webapp:task_delete" task.pk %}" class="text-center">
        {% csrf_token %}
        <p><input type="submit" value="Потверждение"></p>
        <p><a href="{% url "webapp:task_view" task.pk %}">Отмена</a></p>
    </form>
{% endblock %}